@model IEnumerable<DataEntities.WhiteCard>

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr id="@("r" + item.WhiteCardID)" class="cardRow">
                <td class="cardText">
                    @Html.Raw(item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    <input type="button" class="btn btn-success" value="View" onclick='window.location.href = "/WhiteCard/View/@(item.WhiteCardID)"' />
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form class="col-12">
                <p>No cards were found :(</p>
            </form>
        </div>
    </div>
}
